# Virtual environment
venv/
.env/

# Python cache
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pdb

# Logs
*.log

# System files
.DS_Store
Thumbs.db

# IDE settings
.vscode/
.idea/

# Jupyter checkpoints (if you use notebooks)
.ipynb_checkpoints/
